/*-------
  RESET
-------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------
  CONTAINER BASE
-------*/

.container{
    max-width: 1150px;
    margin: auto;
}

h1{
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    color: #E53170;
}

p{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
}

/*-------
  BOX CONTENUTI
-------*/

.box{
    color: white;
    width: calc(33.33% - 20px);
    height: 100px;
    background-color: black;
    float: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 10px;
    margin-bottom: 10px;
}

/*-------
  INTERNO CONTENUTI
-------*/

h3{
    font-size: 20px;
    margin-bottom: 6px;
}


.info-profilo{
    /* width: calc(100%-100px); Non ho notato differenze */
    padding-left: 8px;
    padding-top: 12px;
    float: left;
}

img{
    float: left;
    height: 100px;
    width: 100px;
}

a{
    color: aqua;
}

/*-------
  CLEAR
-------*/

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

